@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <img src="https://www.ikusi.com/wp-content/uploads/2022/06/post_thumbnail-4efabca9bd56b38edc0058c4ba006481.jpeg" alt="Banner de tecnología">
    <div class="overlay"></div>
    <div class="banner-text">
        <h1>Bienvenidos a la Facultad de ciencias Puras y Naturales</h1>
        <p>Ciencia, innovación, tecnologia, investigacíon</p>
        <button>Ver Carreras</button>
    </div>
</div>

<div class="row">
	<div class="col">
		<div class="card">
            <img src="https://internetpasoapaso.com/wp-content/uploads/La-inform%C3%A1tica.jpg" alt="Carrera de informática">
			<h3>Informática</h3>
			<p>La carrera de informática se enfoca en el desarrollo de sistemas, aplicaciones y tecnologías de la información.</p>
		</div>
	</div>
	<div class="col">
		<div class="card">
            <img src="https://profuturo.education/wp-content/uploads/2022/03/Captura-de-pantalla-2022-03-11-a-las-10.51.35.png" alt="Carrera de matemáticas">
			<h3>Matemáticas</h3>
			<p>La carrera de matemáticas se enfoca en el estudio de las estructuras abstractas y sus relaciones, así como en la resolución de problemas.</p>
		</div>
	</div>
	<div class="col">
		<div class="card">
            <img src="https://admision.uc.cl/htdocs/content/uploads/2021/09/estadistica-uc-admisionIMG_1.jpeg" alt="Carrera de estadística">
			<h3>Estadística</h3>
			<p>La carrera de estadística se enfoca en la recopilación, análisis e interpretación de datos para la toma de decisiones.</p>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="https://vestibulares2023.com.br/wp-content/uploads/2022/11/3658422-scaled.jpg" class="card-img-top" alt="Física">
            <div class="card-body">
                <h5 class="card-title">Física</h5>
                <p class="card-text">La física es la ciencia que estudia la materia, la energía y las leyes que rigen su comportamiento en el universo.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://gfx.dlastudenta.pl/photos/GosiaL/Biologia620_auto_1030.jpg" class="card-img-top" alt="Biología">
            <div class="card-body">
                <h5 class="card-title">Biología</h5>
                <p class="card-text">La biología es la ciencia que estudia los seres vivos y sus procesos vitales, desde su estructura molecular hasta su interacción con el entorno.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://council.science/wp-content/uploads/2017/04/IUPAC-feature-image-1400x600.jpg" class="card-img-top" alt="Química">
            <div class="card-body">
                <h5 class="card-title">Química</h5>
                <p class="card-text">La química es la ciencia que estudia la composición, estructura, propiedades y cambios de la materia a nivel molecular y atómico.</p>
            </div>
        </div>
    </div>
</div>


